/* Import tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

iframe {
	@apply border-white
		border-solid
		border-0
		h-screen
		w-screen;
}

main {
	@apply max-w-none
		rounded
		flex
		flex-col
		p-3
		w-full
		prose
		max-w-none
		shadow-xl;

	h1:first-of-type,
	p:only-of-type {
		@apply self-center
			m-0;
	}
}

.prose {
	&:first-child {
		@apply self-center;
	}

	section h2 {
		@apply mt-0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-medium;
}

#clients #auth-list {
	@apply justify-start;
}

#auth-list {
	@apply flex
		flex-wrap
		justify-center
		w-full;

	a {
		@apply no-underline
			font-normal
			text-inherit;
	}
}

.auth-button {
	@apply rounded-full
		border
		cursor-pointer
		m-1
		font-sans
		h-[40px]
		p-[8px];
	font-family: "Roboto";
	@apply static
		!important;

	&::before {
		@apply hidden;
	}

	svg,
	img {
		@apply m-0
			bg-white
			inline;
		vertical-align: sub;
		@apply h-[18px]
			w-[18px]
			!important;
		/* Per Google's guidlines, the background color always has to be #fff, even in dark mode */
	}

	span {
		@apply text-black
			text-[14px]
			pl-[24px];
	}

	/* Per Google's guidlines, the dark mode color needs to be #4285F4 if we ever make a dark mode */
}

#email-address,
#submit {
	@apply border-transparent
		rounded-sm
		border
		flex
		justify-center
		font-medium
		text-sm
		leading-5
		mx-0
		my-2
		py-2
		px-4
		relative
		w-full
		text-white
		bg-green-500;
}

.button-container {
	@apply inline-flex
		p-2
		w-full;
}

#allow,
#deny {
	@apply rounded-full
		py-3
		px-4
		text-white
		w-full
		transition
		ease-in-out
		duration-300;
}

#allow {
	@apply mr-8
		bg-green-500;

	&:hover {
		@apply bg-green-600;
	}
}

#deny {
	@apply mr-8
		bg-green-500;

	&:hover {
		@apply bg-red-600;
	}
}

body {
	@apply block
		!important;
}
