/* Import tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Import Roboto per Google's guidlines */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

main {
	@apply flex flex-col w-full p-3 prose rounded shadow-xl max-w-none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-medium;
}

.prose {
	&:first-child {
		@apply self-center;
	}

	section h2 {
		@apply mt-0;
	}

	h1:first-of-type,
	p:only-of-type {
		@apply self-center m-0;
	}
}

#auth-list {
	@apply flex flex-wrap justify-center w-full;

	a {
		@apply font-normal no-underline cursor-pointer text-inherit;
	}
}

#clients #auth-list {
	@apply justify-start;
}

.auth-button {
	@apply rounded-full
		border
		m-1
		font-sans
		h-[40px]
		p-[8px];

	font-family: "Roboto";

	@apply static
		!important;

	&::before {
		@apply hidden;
	}

	svg,
	img {
		vertical-align: sub;

		@apply inline m-0 bg-white;

		@apply h-[18px]
			w-[18px]
			!important;

		/* Per Google's guidlines, the background color always has to be #fff, even in dark mode */
	}

	span {
		@apply text-black
			text-[14px]
			pl-[24px];
	}

	/* Per Google's guidlines, the dark mode color needs to be #4285F4 if we ever make a dark mode */
}

#email-address,
#code,
input[type="submit"],
button {
	@apply w-full py-3 pl-4 mt-2 text-sm font-medium leading-5 transition duration-300 ease-in-out border rounded-full;
}

input[type="submit"],
button {
	@apply h-10 text-white;

	img {
		@apply h-full m-auto;
	}
}

.buttons-container {
	@apply inline-flex w-full p-2;
	
	i.far {
		@apply inline ml-2;
	}
}

#allow,
#deny {
	@apply w-full px-4 py-3 text-white no-underline transition duration-300 ease-in-out rounded-full;
}

#allow,
[type="submit"] {
	@apply mr-4 bg-green-500;

	&:hover {
		@apply bg-green-600;
	}
}

#deny {
	@apply ml-4 bg-red-500;

	&:hover {
		@apply bg-red-600;
	}
}

html,
body,
iframe {
	@apply block
		!important;
	@apply w-screen h-screen border-0 border-white border-solid;

	scroll-behavior: smooth;
}
