<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Allow access? | 1Auth</title>
		<noscript>
			<meta http-equiv="refresh" content="0; url=/old/" />
		</noscript>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-5WN6THR");
		</script>
		<!-- End Google Tag Manager -->
	</head>

	<body style="display: none">
		{{> nav}}
		<main>
			<h1>Allow access?</h1>
			<p>Do you want {{host}} to access your data?</p>
			<div class="buttons-container">
				<a href="{{url}}{{paramJoiner}}code={{code}}" id="allow"
					>Allow
					<i class="far fa-check-circle inline ml-2"></i>
				</a>
				<a href="{{url}}{{paramJoiner}}code={{code}}" id="deny"
					>Deny
					<i class="far fa-times-circle inline ml-2"></i>
				</a>
			</div>
		</main>
		<script>
			const deny = document.querySelector("#deny");
			deny.addEventListener("click", async () => {
				await fetch("/backend/remove_data" + new URL(deny.href).searchParams.get("code"));
				return true;
			});
		</script>
	</body>
</html>
