<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Allow access?</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<script src="https://kit.fontawesome.com/2a2d30d602.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/bundle-beta.css" />
		<noscript>
			<meta http-equiv="refresh" content="0; url=/old/" />
		</noscript>
	</head>

	<body>
		<nav>
			<a href="/">
				<img src="/logo.svg" alt="1Auth logo" />
			</a>
		</nav>
		<main>
			<h1>Allow access?</h1>
			<p>Do you want {{host}} to access your data?</p>
			<div class="buttons-container">
				<a href="{{url}}{{paramJoiner}}code={{code}}" id="alow"
					>Allow
					<i class="far fa-check-circle inline ml-2"></i>
				</a>
				<a href="{{url}}{{paramJoiner}}code={{code}}" id="deny"
					>Deny
					<i class="far fa-times-circle inline ml-2"></i>
				</a>
			</div>
		</main>
		<script>
			const deny = document.querySelector("#deny");
			deny.addEventListner("click", () => {
				fetch("/backend/remove_data", {
					body: "code=" + new URL(deny.href).searchParams.get("code"),
					method: "POST",
				});
				return true;
			});
		</script>
	</body>
</html>
