<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Sign in with email</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/bundle-beta.css" />
		<noscript>
			<meta http-equiv="refresh" content="0; url=/old/" />
		</noscript>
	</head>
	<body>
		<nav>
			<a href="/">
				<img src="/logo.svg" alt="1Auth logo" />
			</a>
		</nav>
		<main>
			<h1>Login with Email</h1>
			<label for="email-address" id="note">Enter your email to continue</label>
			<form action="" method="POST">
				<input
					id="email-address"
					name="email"
					type="email"
					autocomplete="email"
					required="true"
					placeholder="Email address"
				/>
				<button type="submit" id="submit">Submit</button>
			</form>
		</main>
		<script>
			document.querySelector("form").addEventListener("submit", async (e) => {
				e.preventDefault();
				const email = document.querySelector("input").value;
				await fetch("/backend/email", {
					headers: {
						"content-type": "application/x-www-form-urlencoded; charset=UTF-8",
					},
					body: "email=" + email,
					method: "POST",
				});
				document.querySelector("form").remove();
				document.querySelector("#note").remove();
				var label = Object.assign(document.createElement("label"), {
					for: "",
					id: "note",
					innerText: "Enter the code we sent to you to continue",
				});
				var form = Object.assign(document.createElement("form"), {
					action: "",
					method: "POST",
					autocomplete: "off",
				});
				var code = Object.assign(document.createElement("input"), {
					type: "password",
					name: "code",
					placeholder: "abcde12345",
					autocomplete: "off", // chrome, this is not a password
					required: "true",
					id: "code",
				});
				var hiddenemail = Object.assign(document.createElement("input"), {
					type: "hidden",
					name: "email",
					value: email,
				});
				var submit = Object.assign(document.createElement("input"), {
					type: "submit",
					id: "submit",
				});
				form.appendChild(code);
				form.appendChild(document.createElement("br"));
				form.appendChild(submit);
				form.appendChild(hiddenemail);
				document.querySelector("main").appendChild(form);
			});
		</script>
	</body>
</html>
