<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Error</title>
		<link rel="shortcut icon" href="/logo.png" />
		<link rel="stylesheet" href="/bundle.css" />
		<noscript>
			<meta http-equiv="refresh" content="0; url=/old/" />
		</noscript>
	</head>

	<body class="bg-white text-black antialiased">
		<nav class="sticky w-full top-0 overflow-x-auto h-20" id="top">
			<div class="container my-4 mx-auto flex flex-wrap items-center text-gray-100">
				<a href="/" class="text-white flex w-full justify-center font-light">
					<img
						src="https://cdn.onedot.cf/brand/SVG%20No%20BG/1%20AUTH.svg"
						alt="1 Auth logo"
						class="w-full inline-block"
					/>
				</a>
			</div>
		</nav>
		<div class="flex flex-col space-y-10 justify-center items-center">
			<!-- Layout  -->
			<div id="main" class="w-96 shadow-xl rounded p-5 h-full w-full">
				<h1 class="text-3xl font-medium">Error</h1>
				<p id="note" class="text-sm">An error occured.</p>
			</div>
		</div>
	</body>
</html>
