<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Outdated Browser</title>
		<link rel="shortcut icon" href="/logo.png" />
	</head>
	<body>
		<nav>
			<div>
				<img src="https://cdn.onedot.cf/brand/PNG%20No%20BG/1%20AUTH.png" alt="1 Auth logo" width="500" />
			</div>
		</nav>
		<h1>You are using an outdated browser!</h1>
		<p>For a better experience, please keep your browser up to date.</p>
		<h2>Modern browsers:</h2>
		<ul>
			<li><a href="https://google.com/chrome/">Google Chrome</a></li>
			<li><a href="https://microsoft.com/edge">Microsoft Edge</a></li>
			<li><a href="https://mozilla.org/firefox/">Mozila Firefox</a></li>
			<li><a href="https://apple.com/safari/">Apple Safari</a></li>
		</ul>
		<p>If you are using a modern browser, make sure JavaScript and cookies are enabled.</p>
	</body>
</html>
