<!-- Google Tag Manager -->
<script>
	"use strict";

	(function () {
		window.dataLayer = window.dataLayer || [];
		window.dataLayer.push({
			"event": "gtm.js",
			"gtm.start": new Date().getTime(),
		});
		const newScript = document.createElement("script");
		newScript.async = true;
		newScript.src =
			"https://www.googletagmanager.com/gtm.js?id=GTM-5WN6THR";
		const firstScript = document.querySelector("script");
		firstScript.parentNode.insertBefore(newScript, firstScript);
	})();
</script>
<!-- End Google Tag Manager -->
<link rel="stylesheet" href="/style.css" />
<script
	src="https://kit.fontawesome.com/2a2d30d602.js"
	defer
	crossorigin="anonymous"
></script>
<script async defer>
	"use strict";

	(function () {	
	const newScript = document.createElement("script");
	newScript.async = true;
	newScript.defer = true;
	newScript.addEventListener("load",()=>{document.querySelectorAll('pre.hljs').forEach(element => {
	// eslint-disable-next-line no-undef
  hljs.highlightElement(element);
});})
	newScript.src =
		"https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/highlight.min.js";
		document.head.append(newScript)	
	})();
</script>
