<!-- Google Tag Manager -->
<script>
	"use strict";

	(function () {
		window.dataLayer = window.dataLayer || [];
		window.dataLayer.push({
			"event": "gtm.js",
			"gtm.start": new Date().getTime(),
		});
		const newScript = document.createElement("script");
		newScript.async = true;
		newScript.src =
			"https://www.googletagmanager.com/gtm.js?id=GTM-5WN6THR";
		const firstScript = document.querySelector("script");
		firstScript.parentNode.insertBefore(newScript, firstScript);
	})();
</script>
<!-- End Google Tag Manager -->

<link rel="stylesheet" async href="/style.css" />
<script
	src="https://kit.fontawesome.com/2a2d30d602.js"
	defer
	async
	crossorigin="anonymous"
></script>

<!-- Import Roboto per Google's guidlines -->
<link
	rel="stylesheet"
	async
	defer
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&amp;display=swap"
/>

<!-- Import PT Sans because it looks good -->
<link
	rel="stylesheet"
	async
	defer
	href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italicdisplay=swap"
/>

<!-- For code syntax highlighting -->
<link
	rel="stylesheet"
	async
	defer
	href="https://highlightjs.org/static/demo/styles/github.css"
/>
