@charset "UTF-8";

@import "../node_modules/highlight.js/styles/github.css";

/* Import tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
	scroll-behavior: smooth;
	column-fill: balance-all !important;
}

main {
	@apply flex
		flex-col
		p-3
		prose
		rounded
		shadow-xl
		h-full
		max-w-none
		mb-28;

	section h2 {
		@apply mt-0;
	}

	h1 {
		@apply m-0
			px-0
			pt-4
			pr-2;
	}

	h1:only-of-type {
		@apply text-3xl;
	}

	:first-child,
	h1:first-of-type,
	p:only-of-type {
		@apply self-center;
	}

	ul {
		li {
			p {
				@apply m-0;
			}
		}
	}
}

main a,
a {
	@apply text-blue-500
			no-underline;

	&:hover,
	&:focus {
		@apply text-blue-700
				underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-medium;
}

pre {
	@apply block
		p-2;

	&.hljs {
		@apply m-0
			p-0
			bg-transparent
			overflow-x-auto;

		code {
			@apply rounded-md
				py-3.5
				px-5;
		}
	}
}

.new::before {
	content: "{{ #message }}aboutNew{{ /message }}";
	background-color: #da17da;

	@apply text-white
		rounded-lg
		p-1
		mr-2;
}

#auth-list {
	@apply flex
		flex-wrap
		justify-center
		w-full;

	a {
		@apply font-normal
			no-underline
			cursor-pointer
			text-inherit;
	}
}

#clients {
	#auth-list {
		@apply justify-start;
	}
}

.auth-button {
	@apply m-1
		font-sans
		border
		rounded-full;

	@apply static
		!important;

	font-family: "Roboto";
	height: 40px;
	padding: 8px;
	min-height: 30px;
	min-width: 140px;

	&::before {
		@apply hidden;
	}

	svg,
	img {
		vertical-align: sub;

		@apply inline
			m-0
			bg-white;

		@apply h-full
			w-auto
			!important;

		/* Per Google's guidlines, the background color always has to be #fff, even in dark mode */
	}

	span {
		@apply text-black;

		font-size: 14px;
		padding-left: 24px;
	}

	/* Per Google's guidlines, the dark mode color needs to be #4285F4 if we ever make a dark mode. but Apple says white or black only… */
}

footer {
	@apply fixed
		w-full
		border-t
		border-gray-300
		z-50
		duration-500
		bg-gray-100
		p-px
		text-sm
		bottom-0
		translate-y-3/4;

	> ul {
		@apply m-2.5
			flex
			justify-center
			lg:block
			md:column-3
			lg:column-4
			xs:text-center
			column-gap-0;

		> li {
			ul {
				@apply lg:inline-block
					xs:block;

				li {
					@apply lg:mt-0;

					line-height: inherit;

					&:first-child {
						@apply leading-6
						font-bold
						mb-2
						sm:hidden;
					}

					&:not(:first-child) {
						@apply mx-0
						my-1.5;
					}
				}
			}

			&:first-child {
				@apply w-auto
					md:hidden;
			}

			&:not(:first-child) {
				@apply w-52
					lg:w-auto;
			}

			&:last-child {
				@apply w-80
					lg:w-full;
			}

			@apply xs:w-full
				!important;

			@apply my-2
			lg:mt-0;
		}
	}

	&:hover {
		@apply translate-y-0;
	}
}

#choose-language {
	min-width: 22em;

	@apply text-center
		border
		border-black
		border-opacity-10
		h-12
		bg-gray-300
		text-sm
		rounded-lg
		p-2
		lg:w-1/2;
}

.legal {
	@apply flex
		justify-center
		text-xs
		m-2.5
		sm:column-2
		lg:column-5;

	> * {
		@apply m-1.5
			w-72
			lg:w-auto;

		@screen lg {
			break-inside: avoid;
		}
	}

	#copyright2 {
		@apply hidden
			md:inline;
	}
}

#email-address,
#code,
input[type="submit"],
button {
	@apply w-full
		py-3
		pl-4
		mt-2
		text-sm
		font-medium
		leading-5
		transition
		duration-300
		ease-in-out
		border
		rounded-full;
}

input[type="submit"],
button {
	@apply h-10
		text-white;

	img {
		@apply h-full
			m-auto;
	}
}

.buttons-container {
	@apply inline-flex
		w-full
		p-2;
}

#allow,
#deny {
	@apply w-full
		p-4
		text-white
		no-underline
		transition
		duration-300
		ease-in-out
		rounded-full
		h-14;
}

#allow,
[type="submit"] {
	@apply mr-4
		bg-green-500;

	&:hover {
		@apply bg-green-600;
	}
}

#deny {
	@apply ml-4
		bg-red-500;

	&:hover {
		@apply bg-red-600;
	}
}

html,
body,
iframe {
	font-family: "PT Sans", "DejaVu Sans", Arial, sans;

	@apply border-0
		font-sans
		border-white
		border-solid;

	@apply block
		!important;
}
