@charset "UTF-8";

@import "../node_modules/highlight.js/styles/github.css";

/* Import tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* GLOBAL STYLES */
*,
::after,
::before {
	scroll-behavior: smooth;
	column-fill: balance-all !important;

	@apply selection:bg-red-500;
}

* a {
	@apply text-blue-500
		no-underline;

	&:hover,
	&:focus {
		@apply text-blue-700
			underline;
	}
}

[data-before] {
	@apply before:content-[attr(data-before)] !important;
}

[data-after] {
	@apply after:content-[attr(data-after)] !important;
}

main {
	@apply flex
		flex-col
		p-3
		prose
		rounded
		shadow-xl
		h-full
		max-w-none
		mb-28;

	section {
		h2 {
			@apply mt-0;
		}
	}

	h1 {
		@apply m-0
			px-0
			pt-4
			pr-2
			only-of-type:text-3xl;
	}

	> :first-child,
	> h1:first-of-type,
	> p:only-of-type {
		@apply self-center;
	}

	ul {
		li {
			p {
				@apply m-0;
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-medium;
}

pre {
	@apply block
		p-2;

	&.hljs {
		@apply m-0
			p-0
			bg-transparent
			overflow-x-visible;

		code {
			@apply rounded-md
				py-3.5
				px-5;
		}
	}
}

footer {
	> ul {
		> li {
			ul {
				@apply lg:inline-block
					xs:block;

				li {
					@apply lg:mt-0;

					line-height: inherit;

					&:first-child {
						@apply leading-6
						font-bold
						mb-2
						sm:hidden;
					}

					&:not(:first-child) {
						@apply mx-0
						my-1.5;
					}
				}
			}

			&:not(:first-child) {
				@apply w-52
					lg:w-auto;
			}

			@apply my-2
				xs:!w-full
				lg:mt-0;
		}
	}
}

.legal {
	> * {
		@apply m-1.5
			w-72
			lg:w-auto;

		@screen lg {
			break-inside: avoid;
		}
	}
}

/* AUTH LIST */
#auth-list {
	@apply flex
		flex-wrap
		w-full;

	a {
		@apply no-underline
			cursor-pointer
		m-0;
	}

	li {
		@apply before:hidden;

		&.auth-button {
			@apply ml-7;
		}
	}

	.auth-button {
		@apply font-sans
		border
		rounded-full
		block;

		svg,
		img {
			vertical-align: sub;

			@apply inline
			m-0
			bg-white
			h-full
			w-auto;

			/* Per Google's guidlines, the background color always has to be #fff, even in dark mode */
		}

		span {
			@apply text-black
		font-medium;

			font-size: 14px;
			padding-left: 24px;
		}

		/* Per Google's guidlines, the dark mode color needs to be #4285F4 if we ever make a dark mode. but Apple says white or black only… */

		/* Google guidline stuffs */
		font-family: "Roboto";
		height: 40px;
		padding: 8px;
		min-height: 30px;
		min-width: 140px;
	}
}

/* EMAIL AUTH */
#email-address,
#code,
button {
	@apply w-full
		py-3
		pl-4
		mt-2
		text-sm
		font-medium
		leading-5
		transition
		duration-300
		ease-in-out
		border
		rounded-full;
}

button {
	@apply h-10
		text-white
		mr-4
		bg-emerald-500
		hover:bg-emerald-600;
}

/* ALLOW PAGE */
.alllow-button {
	@apply w-full
		p-4
		text-white
		no-underline
		transition
		duration-300
		ease-in-out
		rounded-full
		h-14;
}

/* GLOBAL STYLES */
html {
	@apply font-sans
	 !block;
}
