name: Format code using Prettier
on: [push, pull_request]

jobs:
    format:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Setup Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 12.x
            - name: Install Prettier
              run: npm install --save-dev prettier
            - name: Format code
              run: npx prettier -w .
            - name: Commit changed files
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: "Format code using Prettier"
